@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is Online shopping website developed in Asp.net MVC using boot strap and Angular js for the academic project.</p>
