@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    11709 W 76th Street Apt 12 <br />
    Shawne, KS 66214.<br />
    <abbr title="Phone">P:</abbr>
   816.598.568
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:rxn76370@ucmo.edu">rxn76370@ucmo.edu</a><br />
</address>