@{
    ViewBag.Title = "Welcome";
}
<div class="slider hidden-xs">
    <ul class="rslides">
        <li><img src="~/Content/Images/books.jpg" alt="" /></li>
        <li><img src="~/Content/Images/clothes4.jpg" alt="" /></li>
        <li><img src="~/Content/Images/electronics.png" alt="" /></li>
        <li><img src="~/Content/Images/startrekcollection.jpg" alt="" /></li>

    </ul>
</div>
<br />
<h3 class="text-center">Click on a category below to get started</h3><br />
<div class="row">
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/4">
                <h2>Books</h2>
                <img src="~/Content/Images/booksicon.jpg" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/2">
                <h2>Electronics</h2>
                <img src="~/Content/Images/electronicsicon.jpg" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/3">
                <h2>Clothes</h2>
                <img src="~/Content/Images/clothesicon.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywraplast">
            <a href="~/StoreFront/Index/1">
                <h2>Shoes</h2>
                <img src="~/Content/Images/shoesicon.png" alt="" />
            </a>
        </div>
    </div>
</div>