@using System.Globalization
@model int

@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Thanks for your order! </h2>
<p class="font18">
    How about shopping for some more  in our 
    @Html.ActionLink("store", "Index", "Home")
</p> 
